@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

@import "master";
@import "header";

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'),
       url('/fonts/open-sans-v13-latin-regular.woff2') format('woff2');
}


div.container {
  @include outer-container;
}

body {
  color: #484C55;
  margin: 0;
  font-family: "Open Sans", helvetica;
}

.pull-right {
  float: right;
}

.content {
  flex: 1 1 auto;
  padding: 10px;
  text-align: center;

  a {
    text-decoration: none;
    color: #08C;
  }

  h3 {
    border-bottom: 1px solid $tertiary-color;
    padding-bottom: 15px;

    a {
      color: inherit;
    }
  }

  .description {
    @include span-columns(8);
  }

  .project {
    @include media($desktop) {
      @include span-columns(4);
      @include omega(3n);
    }
    @include media($tablet) {
      @include span-columns(6);
      @include omega(2n);
    }
    @include media($mobile) {
      @include span-columns(12);
      @include omega(1n);
    }

    img {
      height: 175px;
      width: 100%;
    }
  }

  .job {
    @include media($desktop) {
      @include span-columns(6);
      @include omega(2n);
    }
    @include media($mobile) {
      @include span-columns(12);
      @include omega(1n);
    }
  }

  .projects, .jobs {
    color: rgb(119, 119, 119);
  }

  .right-bar {
    @include span-columns(4);
  }

  .profiles {
    // Keeps height, even with floating li's.
    overflow: auto;
  }

  .profiles li {
    width: 50%;
    float: left;
    text-align: left;
  }

  .right-bar h3:not(:first-child) {
    margin-top: 40px;
  }
}

[data-container] {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  padding: 10px;
  flex: 0 0 auto;
  text-align: right;
  border-top: 1px solid $tertiary-color;
}
